@utility authImagePattern {
  background-image: url("/dumbell.png"), url("/run.png");
  background-repeat: repeat;
  background-size: 120px 120px, 160px 160px;
  background-position: 0 0, 0 0;
  animation: movePattern 20s linear infinite;
}

@keyframes movePattern {
  from {
    background-position: 0 0, 0 0;
  }
  to {
    background-position: 120px 120px, -160px -160px;
  }
}

@utility floatingCard {
  animation: floatSide 4s ease-in-out infinite;
}

@keyframes floatSide {
  0% {
    transform: translateX(-10px) rotate(-1deg);
  }
  50% {
    transform: translateX(10px) rotate(1deg);
  }
  100% {
    transform: translateX(-10px) rotate(-1deg);
  }
}
